.box{
    display: inline-block;
    height: 30px;
    width: 30px;
    border:3px solid rgb(0, 0, 0);
    /*border-radius: 50%;*/
    background-color: rgb(0, 0, 0);
    margin-bottom:-6.5px;
    /*margin-top:-4px;*/
  }
  .obstacle_box{
    display: inline-block;
    height: 30px;
    width: 30px;
    border:3px solid rgb(209, 209, 209);
    /*border-radius: 50%;*/
    background-color: rgb(209, 209, 209);
    margin-bottom:-6.5px;
    /*margin-top:-4px;*/
  
  
  }
  .active_box{
    display: inline-block;
    height: 30px;
    width: 30px;
    border:3px solid rgb(255, 255, 255);
    background-color: rgb(14, 93, 20);
    margin-bottom:-6.5px;
    /*margin-top:-4px;*/
    border-radius: 50%;
   
  
  }
  .tail_box{
    display: inline-block;
    height: 30px;
    width: 30px;
    border:3px solid white;
    background-color: rgb(21, 255, 0);
    margin-bottom:-6.5px;
    /*margin-top:-4px;*/
  
    border-radius: 50%;
   
  
  }
  .apple_box{
    display: inline-block;
    height: 30px;
    width: 30px;
    border:3px solid white;
    background-color: red;
    margin-bottom:-6.5px;
    /*margin-top:-4px;*/
    border-radius: 50%;
  
  }
  
  #container_grid{
    width: 564px;
    max-height: 590px;
    text-align: center;
    background-color: rgb(0, 0, 0);
  }